.App nav {
    background: #ffffff;
    margin: 0 0 20px 0;
}

.App h1 {
    color: #ffffff;
}

.hashString {
    word-break: break-all;
}

.MenuWrapper {
    flex-direction: column;
    display: flex;
}

.MenuWrapper button {
    margin: 16px 0;
}

.AppHeader {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
}