.App {
    padding: 0 0 20px 0;
}

.App nav {
    background: #ffffff;
    margin: 0 0 20px 0;
}

.App h1 {
    color: #ffffff;
    margin: 0;
}

.AccountGenerator {
    margin: 8px 0;
}

.hashString {
    word-break: break-all;
}

.MenuWrapper {
}

.MenuWrapper > div {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 400px;
}

.MenuWrapper button {
    margin: 16px 0;
    width: 100%;
}

.AppHeader {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 48px;
    margin: 8px 0 16px 0;
}

.MnemonicsCardHeader {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.HeaderMenu button {
    margin: 0 8px 0 0;
}

.HeaderMenu button:last-child {
    margin: 0;
}

.save-edit-btns {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.save-edit-btns > button {
    margin: 0 0 0 16px;
}

.LanguageMenu {
    align-items: center;
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.LangLabel {
    margin: 0 0 0 16px;
}

.BitcoinInputsFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.BitcoinInputsFooter div {
    flex: 1
}

.BitcoinHeader {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 8px 0;
}

.CenterMessage {
    align-items: center;
    bottom: 0;
    color: #ffffff;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.OnlineMenuItem {
    margin: 0 0 16px 0;
    width: 100%;
}

.OnlineMenuItem a {
    width: 100%;
}

.version {
    color: #ffffff;
    line-height: 1;
}

.Step_controls {
    text-align: right;
    width: 100%;
}

.Step_controls div {
    display: inline-block;
}

.Step_controls div:first-child {
    margin: 0 8px 0 0;
}

.Step__close {
    color: #ffffff;
    margin: 8px 0;
}

.Select {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.Select:disabled {
    color: #aaaaaa;
    border: 1px solid #eeeeee;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23aaaaaa' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
    background-size: 8px 10px;
}

.pointerHover:hover {
    cursor: pointer;
}

@media (max-width: 500px) {
    .App h1 {
        font-size: 24px;
    }
    .version {
        line-height: 0.5;
    }
}
