.App {
    padding: 0 0 20px 0;
    max-width: 800px;
}

.App nav {
    background: #ffffff;
    margin: 0 0 20px 0;
}

.App h1 {
    color: #ffffff;
    margin: 0;
}

.hashString {
    word-break: break-all;
}

.MenuWrapper {
}

.MenuWrapper > div {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 400px;
}

.MenuWrapper button {
    margin: 16px 0;
    width: 100%;
}

.AppHeader {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 48px;
    margin: 8px 0 16px 0;
}

.MnemonicsCardHeader {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.HeaderMenu button {
    margin: 0 8px 0 0;
}

.HeaderMenu button:last-child {
    margin: 0;
}

.save-edit-btns {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.save-edit-btns > button {
    margin: 0 0 0 16px;
}

.LanguageMenu {
    align-items: center;
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.LangLabel {
    margin: 0 0 0 16px;
}

.BitcoinInputsFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.BitcoinInputsFooter div {
    flex: 1
}

.BitcoinHeader {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 8px 0;
}

.CenterMessage {
    align-items: center;
    bottom: 0;
    color: #ffffff;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.OnlineMenuItem {
    margin: 0 0 16px 0;
    width: 100%;
}

.OnlineMenuItem a {
    width: 100%;
}

.version {
    color: #ffffff;
    line-height: 0;
}

.Step_controls {
    text-align: right;
    width: 100%;
}

.Step_controls div {
    display: inline-block;
}

.Step_controls div:first-child {
    margin: 0 8px 0 0;
}

.Step__close {
    color: #ffffff;
    margin: 8px 0;
}

@media (max-width: 500px) {
    .App h1 {
        font-size: 24px;
    }
    .version {
        line-height: 0.5;
    }
}
