.IdenticonImageWrapper {
    text-align: center;
}

.IdenticonImage {
    /* 20% from real size. All calcs is hardcode. */
    background-size: 170px 120px;
    background-position: -10px -40px;
    height: 70px;
    margin: 0 auto;
    width: 70px;
}